body{
background-image:url(walpaper.jpg);
background-size: cover;
background-attachment:fixed;
}
h1{
text-align:center;
color:red;
background-color:green;
margin-left:250px;
margin-right:250px;
}
#img1{
display:float;
float:left;
height:100px;
margin-left:60px;
}
#since{
font-size:20px;
color:white;
}
#par1
{
display:block;
margin-top:20px;
}
#img2
{
display:block;
height:250px;
}
#par2
{
border:solid;
color:white;
border-color:red;
font-size:20px;
}
#topbut
{
background-color:red;
height:30px;
width:750px;
margin-left:auto;
margin-right:auto;
}
button{
margin-top:4px;
}
button:hover
{
background-color:black;
color:green;
}
#par3
{
border-style:solid;
border-color:violet;
color:white;
font-size:20px;
}
#abpar1
{
display:block;
text-align:left;
margin-left:30px;
border-style:solid;
border-color:pink;
font-size:20px;
color:white;
}
#forms
{
font-size:white;
}
